* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}

h1 {
  color: black;
  font-size: 35px;
}

h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: end;
  color: #ca8011;
  font-size: 30px;
}

h3 {
  color: black;
  font-size: 22px;
}
span {
  color: rgb(170, 94, 7);
  font-size: 5rem;
}

p {
  color: white;
  font-size: 22px;
}
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 0rem;
  flex-wrap: wrap;
  align-content: space-around;
}

.cardContent {
  display: flex;
  background:transparent;
  color:  #ca8011;
}
/* Header seccion */
#header {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: auto;
}
#header .header {
  min-height: 8vh;
  background-color: transparent;
  transition: 0.3s ease background-color;
}
#header .nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1300px;
  padding: 0 10px;
}
#header .nav-list ul {
  list-style: none;
  position: absolute;
  background-color: rgb(31, 30, 30);
  width: 100vw;
  height: 100vh;
  left: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s ease left;
}
#header .nav-list ul.active {
  left: 0%;
}
#header .nav-list ul a {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  text-decoration: none;
  color: rgb(206, 140, 18);
  text-transform: uppercase;
  padding: 18px;
  display: block;
}
#header .nav-list ul a::after {
  content: attr(data-after);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: rgba(240, 248, 255, 0.021);
  font-size: 1rem;
  letter-spacing: 50px;
  z-index: -1;
  transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
  transform: translate(-50%, -50%) scale(1);
  letter-spacing: initial;
}
#header .nav-list ul li:hover a {
  font-size: 17px;
  -webkit-transition: all 0.1s linear red;
  transition: none 0.1s linear;
  padding: 12px;
  margin: 10px 15px;
  color: black;
}
#header .hamburger {
  height: 60px;
  width: 60px;
  display: inline-block;
  border: 3px solid orange;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  cursor: pointer;
  transform: scale(0.8);
  margin-right: 20px;
}
#header .hamburger:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 3px solid white;
  animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
  height: 2px;
  width: 30px;
  position: relative;
  background-color: white;
  z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  background-color: white;
  transition: 0.3s ease;
  transition-property: top, bottom;
}
#header .hamburger .bar::after {
  top: 8px;
}
#header .hamburger .bar::before {
   bottom: 8px; 
}
#header .hamburger.active .bar::before {
  bottom: 0;
}
#header .hamburger.active .bar::after {
  top: 0;
}
/* Fin Header seccion */
#hero {
  background-image: url(img/Captura.PNG);
  background-attachment: fixed; 
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
  height: 100vh;
  width: 100%;
}
#hero::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  /* background-color: black; */
  opacity: 0.7;
  z-index: -1;
}
#hero .hero {
  justify-content: flex-start;
}
#ca8011


.buscador {
  display: flex;
  flex-direction: row;
  height: 15rem;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  flex-wrap: nowrap;
  justify-content: center;
}


@media only screen and (min-width: 1200px) {
  /* header */
  #header .hamburger {
    display: none;
  }
  #header .nav-list ul {
    position: initial;
    display: block;
    height: auto;
    width: fit-content;
    background-color: transparent;
  }
  #header .nav-list ul li {
    display: inline-block;
  }
  #header .nav-list ul li a {
    font-size: 1.2rem;
  }

  #header .nav-list ul li a:hover {
    font-size: 1.2rem;
    color: black;
  }
  #header .nav-list ul a:after {
    display: none;
  }
  /* Fin header */

  #services .service-bottom .service-item {
    flex-basis: 22%;
    margin: 1.5%;
  }
}

/* Estilos para los elementos de tarjeta */
.card-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 56rem;
  width: 100%;
  gap: 3.5rem;
  margin: 10px auto;
  border-radius: 5px;
  text-align: center;
  flex-direction: row;
  align-content: center;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0rem;
  width: 70%;
  gap: 1.5rem;
  margin: 30px;
  border-radius: 5px;
  text-align: center;
  flex-direction: row;
  align-content: center;
  flex-wrap: wrap;
}

.alert {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
}

#cardContainer {
  display: flex;
  width: 360px; /* Ancho de la tarjeta */
  height: 260px; /* Altura de la tarjeta */
  background-color: #ffffff; /* Color de fondo */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
  border-radius: 10px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interior */
  margin: 20px; /* Margen exterior */
  display: flex; /* Establecer como flexbox para alinear contenido */
  flex-direction: column; /* Dirección de la flexbox: columna */
  justify-content: space-between; /* Distribuir el contenido verticalmente */
}

/* Estilo para el título de la tarjeta */
#cardContainer h2 {
  font-size: 20px; /* Tamaño de fuente del título */
  margin: 0; /* Eliminar margen predeterminado */
}

/* Estilo para el contenido de la tarjeta */
#cardContainer p {
  font-size: 16px; /* Tamaño de fuente del contenido */
  margin: 10px 0; /* Margen superior e inferior del contenido */
}


#agregarBtn {
  background-color: #28a745;
}

#mostrarBtn {
  margin-top: 10px;
}

#agregarBtn {
  margin-top: 10px;
}

/* Formulario */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-weight: bold;
  color: white;
}

input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 8px;
  background-color: #ca8011;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  padding: 8px;
  background-color: white;
  color: #ca8011;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.containerEncontrarGrupo {
  display: flex;
  /* height: 35rem; */
  flex-flow: column wrap;
  height: 20rem;
  place-items: stretch center;
  width: 100%;
  place-content: center space-between;
  flex-direction: column;
  align-content: stretch;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-items: center;
  }
.buscador{
  display: flex;
    /* height: 35rem; */
    flex-flow: column wrap;
    height: 53rem;
    place-items: stretch center;
    width: 100%;
    place-content: center space-between;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.containerCrearGrupo {
  display: flex;
  /* height: 35rem; */
  flex-flow: column wrap;
  height: 54rem;
  place-items: stretch center;
  width: 100%;
  place-content: center space-between;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  }
  
  .agregarIntegrantes{
    display: flex;
    /* height: 35rem; */
    flex-flow: column wrap;
    height: 20rem;
    place-items: stretch center;
    width: 100%;
    place-content: center space-between;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
  
  .QuitarIntegrantes{
    display: flex;
    flex-flow: column wrap;
    height: 54rem;
    place-items: stretch center;
    width: 100%;
    place-content: center space-between;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  
  .acordeon {
    
  width: 100%;
    max-width: auto;
    padding: 4rem;
    color: white;
    font-size: 23px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 0;
    background-color: #ca80117c;
    -webkit-box-shadow: 0.4rem 0.4rem 0.8rem var(--sombra-ppal), -0.4rem -0.4rem 0.8rem var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
    box-shadow: 0.4rem 0.4rem 0.8rem var(--sombra-ppal), -0.4rem -0.4rem 0.8rem var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
}

.acordeon .bloque {
  background: #ca8011;
  margin: 0 0 1rem;
  padding: 1rem;
  color: var(--negro);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 1rem;
  background-color:#ca801175 ;
  -webkit-box-shadow: 0.4rem 0.4rem 0.8rem var(--sombra-ppal), -0.4rem -0.4rem 0.8rem var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
          box-shadow: 0.4rem 0.4rem 0.8rem var(--sombra-ppal), -0.4rem -0.4rem 0.8rem var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
}

.acordeon .h6 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 1rem;
  padding: 1rem;
  color: var(--blanco);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 1rem;
  background-color: #ca801175;
  -webkit-box-shadow: 0.4rem 0.4rem 0.8rem var(--sombra-ppal), -0.4rem -0.4rem 0.8rem var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
          box-shadow: 0.4rem 0.4rem 0.8rem var(--sombra-ppal), -0.4rem -0.4rem 0.8rem var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  cursor: pointer;
}
.acordeon .h6:hover {
  color: var(--blanco);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  border-radius: 1rem;
  background-color: #5c3b0a8f;
  -webkit-box-shadow: 0 0 0 transparent, 0 0 0 transparent, inset 0.4rem 0.4rem 0.8rem var(--sombra-ppal), inset -0.4rem -0.4rem 0.8rem var(--sombra-sec);
          box-shadow: 0 0 0 transparent, 0 0 0 transparent, inset 0.4rem 0.4rem 0.8rem var(--sombra-ppal), inset -0.4rem -0.4rem 0.8rem var(--sombra-sec);
}

.acordeon .contenido {
  height: 0;
  padding: 0rem;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.acordeon .bloque.activo .contenido {
  height: 70vh;
  width: 100%;
  background-color: #f8f8f82f;
}